.FondoPublico {
	background-image: url("../img/fondo.jpg");
    background-repeat: no-repeat;
	background-size: auto 80%;
}

#BuscadorGeneral {
	background-color: black;
	opacity: 0.7;
	border-radius: 20px;
	margin-top: 100px;
	padding: 60px;
}

#BuscadorGeneral .leyenda {
	color: white;
	font: 150% sans-serif
}

#ContenedorPrincipal {
	padding-bottom: 400px;
}

.social {
	position: fixed; /* Hacemos que la posición en pantalla sea fija para que siempre se muestre en pantalla*/
	left: 0; /* Establecemos la barra en la izquierda */
	top: 200px; /* Bajamos la barra 200px de arriba a abajo */
	z-index: 2000; /* Utilizamos la propiedad z-index para que no se superponga algún otro elemento como sliders, galerías, etc */
}

.social ul {
	list-style: none;
}

.social ul li a {
	display: inline-block;
	color:#fff;
	background: #000;
	padding: 10px;
	text-decoration: none;
	-webkit-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease; /* Establecemos una transición a todas las propiedades */
	width: 60px;
	height: 60px;
}

.social ul li .fa-facebook { background: #3b5998; } /* Establecemos los colores de cada red social, aprovechando su class */
.social ul li .fa-twitter { background: #00abf0; }
.social ul li .fa-envelope { background: #ae181f; }

.social ul li a:hover {
	background: #000; /* Cambiamos el fondo cuando el usuario pase el mouse */
	padding-left: 40px; /* Hacemos mas grande el espacio cuando el usuario pase el mouse */
	width: 120px;
}

/* Resultado de las Búsqueda */
.tarjeta {
	height: 200px;
}

.boton-ver-perfil {
	padding: 0px;
	border-radius: 0px;
}

.boton-ver-perfil > a.btn-primary {
	border-radius: 0px;
}
